api = "0.2"

[buildpack]
id = "ForestEckhardt/build-plan"
name = "Build Plan Buildpack"
version = "{{ .Version }}"

[metadata]
include_files = ["bin/run", "bin/build","bin/detect","buildpack.toml"]
pre_package = "./scripts/build.sh"

[[stacks]]
id = "org.cloudfoundry.stacks.cflinuxfs3"

[[stacks]]
id = "io.buildpacks.stacks.bionic"
